@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at center,#899dc4,#495d84);
    background: radial-gradient(ellipse at bottom,#1b2735,#090a0f);
    overflow: hidden;
}
.all
{
    display: flex;
    justify-content: center;
    perspective: 10px;
    transform: perspective(300px) rotateX(20deg);
    will-change: perspective;
    perspective-origin: center center;
    transform-style: preserve-3d;
    transition: all 1.3s ease-out;
}
.all:hover
{
    perspective: 1000px;
    transition: all 1.3s ease-in;
    transform: perspective(10000px) rotateX(0deg);
}
.all:hover .text
{
    opacity: 1;
}
.all:hover > div
{
    opacity: 1;
    transition-delay: 0s;
}
.all:hover .explainer
{
    opacity: 0;
}
.left, .center, .right, .lefter, .righter
{
    position: relative;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0 0 20px 5px rgba(100,100,255,0.4);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #57d;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: all 0.3s ease;
    transition-delay: 1s;
    opacity: 0;
}
.left:hover, .center:hover, .right:hover, .lefter:hover, .righter:hover
{
    box-shadow: 0 0 30px 10px rgba(100,100,255,0.6);
    background-color: #ccf;
}
.text
{
    position: absolute;
    left: 5px;
    bottom: 0;
    color: #fff;
    font-size: 24px;
    text-shadow: 0 0 5px rgba(100,100,255,0.6);
    transform: translateY(30px);
    will-change: transform;
    transition: all 0.3s ease;
    opacity: 0;
}
.lefter
{
    background-image: url(assets/facebook.png);
    transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
}
.left
{
    background-image: url(assets/instagram.png);
    transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
}
.center
{
    background-image: url(assets/google.png);
    opacity: 1;
}
.right
{
    background-image: url(assets/whatsapp.png);
    transform: translateX(30px) translateZ(-25px) rotateY(5deg);
}
.righter
{
    background-image: url(assets/twitter.png);
    transform: translateX(60px) translateZ(-50px) rotateY(10deg);
}
.explainer
{
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 2em;
    color: #990011;
    border-radius: 10px;
    text-shadow: 0 0 10px rgba(255,255,255,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303050;
    background-image: radial-gradient(circle at center top,#cce,#33a);
    transition: all 0.6s ease;
}
